<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
     {% load staticfiles %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Contact</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for i in employees %}
    <tr>
        <td>{{ i.eid }}</td>
        <td>{{ i.ename }}</td>
        <td>{{ i.eemail }}</td>
        <td>{{ i.econtact }}</td>
        <td>
        <a href="/delete/{{ i.id }}">Delete</a>
        <a href="/edit/{{ i.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/emp" class="btn btn-primary">Add New Records</a></center>

</body>
</html>